/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Font */
.size_14 {font-size: 0.875rem;}
.size_15 {font-size: 0.937rem;}
.size_16 {font-size: 1rem;}
.size_18 {font-size: 1.125rem;}
.size_20 {font-size: 1.25rem;}
.size_22 {font-size: 1.375rem;}
.size_24 {font-size: 1.5rem;}
.size_26 {font-size: 1.625rem;}
.size_28 {font-size: 1.75rem;}
.size_30 {font-size: 1.875rem;}
.size_32 {font-size: 2rem;}
.size_36 {font-size: 2.25rem;}
.size_38 {font-size: 2.375rem;}
.size_40 {font-size: 2.5rem;}

/* 기본 글꼴 굵기 설정 */
.normal {font-weight: normal;}
.bold {font-weight: bold; }
.bolder {font-weight: bolder;}
.lighter {font-weight: lighter;}
.inherit {font-weight: inherit;}
.initial {font-weight: initial;}

