@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 전역 컬러 및 스타일  */
:root {
    /* Main Colors */
    --main-color1: #BB2B1B; /* Ketchup Red */
    --main-color2: #FFFFFF; /* Pure White */
    --main-color3: #F8F9FA; /* Intense White */

    /* Point Colors */
    --point-color1: #24855B; /* Metallic Green */
    --point-color2: #FFDB58; /* Mustard */
    --section-spacing: 2rem;
}
.container-spacing {
    margin-top: var(--section-spacing);
}
.logo {
    padding: 20px 10px; 
    transition: all 0.3s ease; 
}

.logo img {
    width: 57px; 
    height: auto;
    display: block;
    margin: 0;
    transition: all 0.3s ease; 
}
/* web,app,tab 메뉴 스타일 */
.tablet-main-menu:hover .logo img {
    width: 65px;
}

.fa-2x {
font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 71px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}
.tablet-main-menu:hover,
nav.tablet-main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.tablet-main-menu > ul {
    margin: 7px 0;
}
.tablet-main-menu li {
    position: relative;
    display: block;
    width: 250px;
    margin-left: 4px;
    margin-bottom: 20px;
}
.tablet-main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.1s linear;
    padding-left: 10px;
}
.tablet-main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding-right: 10px;
}
.tablet-main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 5px;
}
.tablet-main-menu > ul.menu-footer {
    position: absolute;
    left: 0;
    bottom: 0;
}
.tablet-main-menu li.active > a::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--main-color1);
    border-radius: 50%;
}
.tablet-main-menu li:hover > a,
nav.tablet-main-menu li.active > a {
    color: var(--main-color1);;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
.tablet-main-menu {
    background-color: var(--main-color2);
    border-right:1px solid #e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:75px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        margin-left: 75px; 
    }
}


nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.mobile-nav{
    display: none;
}
.web-main-menu{
    display: none;
}
@media screen and (min-width: 1024px) {
    .tablet-main-menu {
        display: none; 
    }
    .mobile-nav {
        display: none;
    }

    .web-main-menu {
        display: flex;
        flex-direction: column; 
        background-color: var(--main-color2);
        border-bottom: 1px solid #e5e5e5;
        padding: 0;
    }

    .web-main-menu .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: var(--main-color2); 
        border-bottom: 1px solid #e5e5e5; 
    }

    .web-main-menu .logo img {
        width: 50px;
        height: auto;
    }

    .web-main-menu .top-links,
    .web-main-menu .user-links {
        display: flex;
        gap: 20px; 
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .logo{
        padding: 0px;
    }
    .web-main-menu .top-links a,
    .web-main-menu .user-links a {
        text-decoration: none;
        font-size: 14px;
        color: #555;
        transition: color 0.2s;
    }

    .web-main-menu .top-links a:hover,
    .web-main-menu .user-links a:hover {
        color: var(--main-color1);
    }

    .web-main-menu .bottom-bar {
        background-color: var(--main-color2);
        border-top: 1px solid #e5e5e5;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    

    .web-main-menu .menu-links {
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .web-main-menu .menu-links li {
        position: relative;
    }

    .web-main-menu .menu-links a {
        text-decoration: none;
        font-size: 16px;
        color: #555;
        font-weight: bold;
        padding: 5px 10px;
        transition: color 0.2s, border-bottom 0.2s;
    }

    .web-main-menu .menu-links li.active a {
        color: var(--main-color1); 
        padding-bottom: 3px;
    }

    .web-main-menu .menu-links li.active a::after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background-color: var(--main-color1);
        border-radius: 50%;
        position: absolute;
        top: -10px; 
        left: 50%;
        transform: translateX(-50%);
    }

    .web-main-menu .menu-links a:hover {
        color: var(--main-color1);
    }

    .web-main-menu .user-menu {
        display: flex;
        align-items: center;
        gap: 20px; 
    }

    .web-main-menu .user-menu a {
        text-decoration: none;
        font-size: 14px;
        color: #555;
        font-weight: normal;
        transition: color 0.2s;
    }

    .web-main-menu .user-menu a:hover {
        color: var(--main-color1); 
    }
}

@media screen and (max-width: 768px) {
    .tablet-main-menu {
        display: none; 
    }
    .web-main-menu{
        display: none;
    }
    .fa{
        width: 71px;
        height: 25px;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--main-color2);
        border-top: 1px solid #e5e5e5;
        padding: 5px 0;
        z-index: 1000;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
    }
    
    .mobile-nav ul {
        display: flex;
        gap: 10px; 
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .mobile-nav li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1 1 auto;
    }
    
    .mobile-nav li a {
        text-decoration: none;
        font-size: 12px;
        color: #555;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: color 0.3s ease;
    }
    
    .mobile-nav li a:hover {
        color: var(--main-color1);
    }
    
    .mobile-nav li a i {
        font-size: 20px;
        margin-bottom: 3px;
    }
    
    .mobile-nav .menu-button {
        background-color: var(--main-color1);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color2);
        font-size: 24px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -15px;
        z-index: 10; 
    }
    
}
@media screen and (max-width: 373px) {
    .mobile-nav ul {
        gap: 5px; 
    }

    .mobile-nav li {
        flex: 1 1 20%; 
    }

    .mobile-nav li a {
        font-size: 10px; 
    }

    .mobile-nav li a i {
        font-size: 18px;
    }

    .mobile-nav .menu-button {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .mobile-nav ul {
        gap: 3px; 
    }

    .mobile-nav li a {
        font-size: 9px; 
    }

    .mobile-nav li a i {
        font-size: 16px;
    }

    .mobile-nav .menu-button {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}
/* 이벤트 베너 */
.banner {
    width: 100%; 
    background-color: #f8f9fa; 
    color: #333; 
    padding: 20px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* 메인 - 스와이퍼 */
.swiper-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; 
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(125deg, #8d44ad83, #3498db77);
    height: 300px;
    color: #fff; 
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136 136 140 / 50%);
    padding: 8px 10px;
    border-radius: 20px;
    width: auto;
    max-width: 80px;
    z-index: 10;
    box-sizing: border-box;
}

.swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 4px;
    background: #fff; 
    opacity: 0.5; 
    border-radius: 50%; 
    transition: opacity 0.3s, transform 0.3s; 
}

.swiper-pagination-bullet-active {
    width: 20px; 
    border-radius: 10px; 
    background: #fff; 
    opacity: 1; 
    transform: scale(1.2); 
}